<footer class="new_footer_area bg_color mt-5">
    <div class="new_footer_top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="f_widget company_widget wow fadeInLeft" data-wow-delay="0.2s"
                        style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18">BACSIUNGTHU.NET</h3>
                        <p class="mt-0">Chuyên trang chia sẻ kiến thức các bệnh lý và tư vấn trực tuyến Miễn Phí cho các
                            bệnh nhân ung bướu. Một kênh thông tin hữu ích và phi lợi nhuận, được sáng lập bởi Tiến sĩ,
                            Bác sĩ, Trưởng khoa Ngoại ung thư, Bệnh viện K - Nguyễn Quang Thái.</p>
                    </div>
                    <div>
                        <p class="fs-4 follow-icon text-white f_social_icon">
                            THEO DÕI CHÚNG TÔI <a href="https://www.facebook.com/groups/446012154410930" class="fab fa-facebook-square text-primary border-primary"></a><a href="https://www.youtube.com/@bacsiungbuou-tiensiquangthai" class="fab fa-youtube text-danger border-danger"></a>
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.4s"
                        style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18">LIÊN HỆ</h3>
                        <ul class="list-unstyled f_list fs-6 fw-light">
                            <li><a href="mailto:bacsiungthu.net@gmail.com">Mail: bacsiungthu.net@gmail.com</a></li>
                            <li><a href="#">Phụ trách PR, nội dung Website:<br>
                                <span class="ms-3">- Mr. Nguyễn Tuân (Zalo 0938666662)</span>
                            </a></li>
                        </ul>
                        <div class="f_social_icon">
                            <a href="https://www.reddit.com/user/bacsiungthu" class="fab fa-reddit"></a>
                            <a href="https://www.tumblr.com/bacsiungthu" class="fab fa-tumblr"></a>
                            <a href="https://twitter.com/bacsiungthu" class="fab fa-twitter"></a>
                            <a href="https://www.pinterest.com/bacsiungthu/" class="fab fa-pinterest"></a>
                        </div>
                        <div class="f_social_icon mt-2">
                            <a href="https://www.linkedin.com/in/bacsiungthu/" class="fab fa-linkedin"></a>
                            <a href="https://vimeo.com/bacsiungthu" class="fab fa-vimeo"></a>
                            <a href="https://bacsiungthu.weebly.com/" class="fab fa-weebly"></a>
                            <a href="https://www.behance.net/bacsiungthu" class="fab fa-behance"></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.4s"
                        style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18">QUY CHẾ HOẠT ĐỘNG</h3>
                        <ul class="list-unstyled f_list fs-6 fw-light">
                            <li><a href="#">Kiến thức – Chia sẻ</a></li>
                            <li><a href="#">Đăng ký tư vấn, khám</a></li>
                            <li><a href="#">Quy chế hoạt động</a></li>
                            <li><a href="#">Chính sách bảo mật</a></li>
                            <li><a href="#">Điều khoản sử dụng</a></li>
                            <li><a href="#">Trách nhiệm và cam kết</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bg">
            <div class="footer_bg_one"></div>
            <div class="footer_bg_two"></div>
        </div>
    </div>
</footer>