<div class="container mt-5">
  <h2 id="dat-lich-kham" class="title">Đặt lịch tư vấn, khám bệnh</h2>
  <form class="row g-3 needs-validation was-validated" novalidate>
    <div class="col-lg-4">
      <label for="validationCustom01" class="form-label fs-6">Họ và tên <span class="text-danger">*</span></label>
      <input type="text" class="form-control" id="validationCustom01" [(ngModel)]="data.name"
        [ngModelOptions]="{standalone: true}" required />
      <label for="validationCustom02" class="form-label fs-6 mt-3">Ngày sinh <span class="text-danger">*</span></label>
      <input type="text" class="form-control" id="validationCustom02" [(ngModel)]="data.dateofbirth"
        [ngModelOptions]="{standalone: true}" required />
    </div>

    <div class="col-lg-4">
      <label for="validationCustom02" class="form-label fs-6">Số điện thoại <span class="text-danger">*</span></label>
      <input type="text mt-1" class="form-control" id="validationCustom03" [(ngModel)]="data.phone"
        [ngModelOptions]="{standalone: true}" required />
      <label for="validationCustom02" class="form-label fs-6 mt-3">Địa chỉ <span class="text-danger">*</span></label>
      <input type="text" class="form-control" id="validationCustom04" [(ngModel)]="data.address"
        [ngModelOptions]="{standalone: true}" required />
    </div>

    <div class="col-lg-4">
      <label for="validationCustom02" class="form-label fs-6">Nhu cầu khám bệnh/Câu hỏi gửi bác sĩ <span
          class="text-danger">*</span></label>
      <input type="text" class="form-control" id="validationCustom05" [(ngModel)]="data.content"
        [ngModelOptions]="{standalone: true}" required />
      <div class="form-check mt-3">
        <div class="row">
          <div class="col-lg-6">
            <input class="form-check-input" type="checkbox" [(ngModel)]="data.status_1"
              [ngModelOptions]="{standalone: true}" id="invalidCheck1" />
            <label class="form-check-label fs-6 text-black" for="invalidCheck1">
              Tư vấn miễn phí
            </label>
          </div>
          <div class="col-lg-6">
            <input class="form-check-input" type="checkbox" [(ngModel)]="data.status_2"
              [ngModelOptions]="{standalone: true}" id="invalidCheck1" />
            <label class="form-check-label fs-6 text-black" for="invalidCheck2">
              Khám trực tiếp
            </label>
          </div>
        </div>
      </div>
      <button style="margin-top: 3px;" class="btn btn-warning-bs w-100" type="submit" (click)="submitform()">Đặt
        lịch</button>
    </div>
  </form>
</div>

