<div class="container mt-5">
    <h2 class="fw-5">
        Vui lòng đặt lịch tư vấn, khám bệnh<br>
        <span class="fw-lighter">
            Chúng tôi sẽ liên hệ lại với bạn sau khi sắp xếp được lịch với các bác sĩ chuyên khoa. Xin cảm ơn!
        </span>
    </h2>
    <app-c-medicalappointment></app-c-medicalappointment>
    <div class="row">
        <div class="col-lg-6">
            <h2 class="fw-5 mt-5">
                Lưu ý:
                <br>
                <span class="fw-normal fst-italic ms-2 fs-6">
                    - Khi tích chọn “ Tư vấn miễn phí “ bạn sẽ được trực tiếp Bác sĩ chuyên khoa tư vấn thông qua điện thoại
                    Miễn phí. Đội ngũ trợ lý sẽ thông báo đến bạn ngay khi nhận được thông tin “Đặt lịch” và trước khi xếp lịch
                    điện thoại tư vấn.
                </span>
                <br>
                <span class="fw-normal fst-italic ms-2 fs-6">
                    - Khi tích chọn “Khám trực tiếp” bạn sẽ được trợ lý gọi điện xác nhận thông tin và thông báo ngày giờ khám
                    với Bác sĩ chuyên khoa. Chi phí sẽ phụ thuộc vào địa chỉ đăng ký khám nơi Bác sĩ chuyên khoa tiếp nhận (Bệnh
                    viện/Phòng khám).
                </span>
            </h2>
        </div>
        <div class="col-lg-6">
            <h2 class="fw-5 mt-5">
                Liên hệ:
                <br>
                <span class="fw-normal fst-italic ms-2 fs-6">
                    - Mail: bacsiungthu.net@gmail.com
                </span>
                <br>
                <span class="fw-normal fst-italic ms-2 fs-6">
                    - Phụ trách PR, Nội dung website: Mr. Nguyễn Tuân (zalo 0938666662)
                </span>
            </h2>
        </div>
    </div>
    

</div>
