<mat-toolbar class="sticky-top menu">
    <div class="container top-menu">
        <div class="menu-left">
            <a class="link-title" href="/">
                <img class="mt-1 mb-1" height="60px" src="assets/img/Artboard 1BSUTlogo.png" alt="">
            </a>
            <a *ngIf="isCollapsed" class="ms-2 me-2 text-white fs-6" href="/">Trang chủ</a>
            <a *ngIf="isCollapsed" class="ms-2 me-2 text-white fs-6" href="/gioi-thieu">Giới thiệu</a>
            <a *ngIf="isCollapsed" class="ms-2 me-2 text-white fs-6" href="/kien-thuc-chia-se">Kiến thức - Chia sẻ</a>
            <a *ngIf="isCollapsed" class="ms-2 me-2 text-white fs-6" href="/lien-he">Liên hệ</a>
        </div>
        <div class="menu-right">
            <a href="lien-he" class="btn btn-outline-warning ms-2 me-2 fs-6">
                <span class="text-white" href="/dat-lich-kham">HỎI BÁC SĨ <span class="fs-6 fw-lighter">(miễn
                        phí)</span> </span>
            </a>
            <button *ngIf="!isCollapsed" class="btn" mat-icon-button (click)="sidenav.toggle()">
                <mat-icon class="icon-size text-warning" *ngIf="!sidenav.opened">menu</mat-icon>
                <mat-icon class="icon-size text-warning" *ngIf="sidenav.opened">close</mat-icon>
            </button>
        </div>
    </div>
</mat-toolbar>

<mat-sidenav-container class="sticky-top">
    <mat-sidenav #sidenav="matSidenav" position="end">
        <img src="assets/img/tsbs-nguyen-quang-thai-truong-khoa-ngoai-tam-hiep1xt-1582016477.jpg" alt="" class="avatar">
        <h4 class="name">Bác sĩ ung thư <br> Nguyễn Quang Thái <br> Trưởng khoa Ngoại bệnh viện K</h4>
        <p class="designation">
            Hơn 30 năm kinh nghiệm trong lĩnh vực Ung thư. Chuyên gia phẫu thuật mổ mở và nội soi các bệnh ung bướu.
            Đại diện Việt Nam tham dự các hội thảo chuyên khoa Ung thư nổi tiếng trên thế giới. Trưởng ban cố vấn y
            khoa của Bacsiungthu.net
        </p>
        <a mat-button class="btn menu-button" href="">
            <mat-icon>home</mat-icon>
            <span>Trang chủ</span>
        </a>
        <a mat-button class="btn menu-button" href="gioi-thieu">
            <mat-icon>turned_in</mat-icon>
            <span>Giới thiệu</span>
        </a>
        <a mat-button class="btn menu-button" href="kien-thuc-chia-se">
            <mat-icon>book</mat-icon>
            <span>Kiến thức - Chia sẻ</span>
        </a>
        <a mat-button class="btn menu-button" href="lien-he">
            <mat-icon>contacts</mat-icon>
            <span>Liên hệ</span>
        </a>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
<app-c-footer></app-c-footer>
